body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:70%;
    margin:auto;
    margin-top:50px;
    text-align:center;
}

input{
    width:70%;
    padding:12px;
}

button{
    padding:12px 20px;
    cursor:pointer;
}

#response{
    margin-top:20px;
    background:white;
    padding:20px;
    border-radius:10px;
}